body {
    background-color: rgb(117, 204, 233);
}
.num1 {
    background-color: burlywood;
    width: 400px;
    border-radius: 4px;
}

.num2 {
    background-color: burlywood;
    width: 400px;
    border-radius: 4px
}
.num3 {
    background-color: burlywood;
    width: 400px;
    border-radius: 4px
}

.num4 {
    background-color: burlywood;
    width: 400px;
    border-radius: 4px
}